.{
	margin: 0px;
	padding: 0px;
}

a{
	color:white;
}

body {
	margin: 0px;
	padding: 0px;
	width: 1200px;
	height: 1620px;
	background: linear-gradient(transparent, #111, #111), url("../../images/forum/tiamat.jpg");
	background-size: contain;
	background-color: #111;
	background-repeat: no-repeat;
}
#header{
	background-color: rgba(0, 0, 0, 0.5);
	color:white;
}

.elements{
	display: block;
	width: 1000px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	font-family: "Comic Sans MS";
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
}

.elements > a{
	color: yellow;
}

.post{
	display: inline-block;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	font-family: "Comic Sans MS";
	margin: 5px;
	padding: 5px;
	border: 2px solid silver;
	border-radius: 5px;
}

.pages{
	padding: 5px;
	margin-top: 5px;
	font-family: "Comic Sans MS";
	color: white;
	display: inline-block;
}
