.{
	margin: 0px;
	padding: 0px;
}

body {
	background: url("../../images/tiamat.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: black;
	color: white;
}

a{
	color: white;
	/*background-color: gray;*/
}

.elements{
	display: block;
	width: 1000px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Comic Sans MS";
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	vertical-align: top;
}

.elements > a{
	color: yellow;
}

.post{
	display: inline-block;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Comic Sans MS";
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
}

.pages{
	padding: 5px;
	margin-top: 5px;
	background-color: rgba(50, 0, 0, 0.5);
	font-family: "Comic Sans MS";
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
}