.{
	margin: 0px;
	padding: 0px;
}

body {
	background-color: gray;
}

.elements{
	display: block;
	width: 1000px;
	color: white;
	background-color: saddlebrown;
	font-family: "Comic Sans MS";
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
}

.elements > a{
	color: yellow;
}

.post{
	display: inline-block;
	color: white;
	background-color: saddlebrown;
	font-family: "Comic Sans MS";
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
}

.pages{
	padding: 5px;
	margin-top: 5px;
	background-color: maroon;
	font-family: "Comic Sans MS";
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
}

#wrapper{
	margin: 0px;
	padding: 0px;
	width: 3235px;
	height: 2095px;
	background-image: url("../../static/images/forum/tiamat.jpg");
	background-size: contain;
	background-color: black;
	background-repeat: no-repeat;
}
