<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> IT THE STORE </h1>

    {% if privilege == 1 %}
      <a href="{% url 'store:curate' %}"> Click me to add Merch! </a>
    {% endif %}

    {% for item in merch %}
      <p> {{item.name}} </p>
      <p> $ {{item.price}} </p>
      <img src="{{item.picture.name}}">
      <p> {{item.description}} </p>
      <a href ="{% url 'store:add_to_cart' id=item.id %}">Add to Cart </a>
    {% endfor %}


  </body>
</html>
